.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal-dialog {
    width: 430px;
}

.fixed-max-width-text-block {
    overflow: hidden;
    text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    -ms-text-overflow: ellipsis !important;
    white-space: nowrap !important;
    max-width: 250px;
}

#pathsDataTable_wrapper .col-sm-5 {
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#pathsDataTable_wrapper .col-sm-7 {
    width: 100%;
}

#dateTime {
    padding-left: 10px;
}

#pathsDataTable {
    min-width: 400px;
    max-width: 400px;
}